body {
   background-color: #4f4f4f;
   font: normal 20px Times;
}

header {
   color: whitesmoke;
   text-align: center;
}

section {
   background-color: rgb(150, 150, 150);
   border-radius: 20px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.515);
   color: whitesmoke;
}

footer {
   color: whitesmoke;
   text-align: center;
}
